[daemon]
socket = "/run/niralis/niralisd.sock"
log_level = "info"

[greeter]
command = "/usr/bin/niralis-greeter"
user = "niralis"

[auth]
backend = "pam"
pam_service = "niralis"
max_attempts = 5
cooldown_seconds = 10

[users]
min_uid = 1000
allow_root = false
exclude = ["nobody"]

[sessions]
wayland_dirs = ["/usr/share/wayland-sessions"]
include_x11 = false
x11_dirs = ["/usr/share/xsessions"]
exec_search_path = [
  "/usr/local/bin",
  "/usr/local/sbin",
  "/usr/bin",
  "/usr/sbin",
]

[session]
default = "niri"
command = "niri-session"
